@model CorkBoardProject.ViewModels.HomePageViewModel
@{
    ViewBag.Title = "CorkBoardlt Home Page";
}
<br />
<p>Home Page for</p>
<h4><strong>@Model.userName</strong></h4>
<hr />
<section class="row">
    <div class="form-group">
        <div class="col-md-10">
            <label id="mycorkboard"><strong>Recent CorkBoard Updates</strong></label>
            <input id="buttonaddcorkboard" type="submit" class="btn btn-default" value="Popular Tags" />
        </div>
    </div>
    <hr />
    @if (!Model.recentCorkboards.Any())
    {
        <p style="margin:0px 16px 0px 0px ; text-indent: 16px">No recent CorkBoards yet.</p>
    }
    else
    {
<ul class="row">
    @foreach (var corkboard in Model.recentCorkboards)
    {
        if (corkboard.VisibilityId == 1)
        {
            <li>
                <label>
                    <strong> @Html.ActionLink(corkboard.Title, "ConfirmPrivateCorkboard", "Corkboard", new { id = corkboard.Cid }, null) </strong>  <span style="color:red;">(private)</span>
                </label>
            </li>
            <p style="margin:0px 16px 0px 0px ; text-indent: 16px">
                Updated by <strong>@Model.recentCorkboardOwners[corkboard.Title]</strong>  on <strong>@corkboard.DateTime</strong> 
            </p>
        }
        else
        {
            <li>
                <label>
                    <strong>@Html.ActionLink(corkboard.Title, "ViewCorkboard", "Corkboard", new { id = corkboard.Cid }, null)</strong>
                </label>
            </li>
            <p style="margin:0px 16px 0px 0px ; text-indent: 16px"> 
                Updated by <strong>@Model.recentCorkboardOwners[corkboard.Title]</strong> on <strong>@corkboard.DateTime</strong> 
            </p>
        }

    }
</ul>

    }
</section>
<br />
<hr />
<section class="row">
    <div class="form-group">
        <div class="col-md-10">
            <label id="mycorkboard"><strong>My CorkBoards</strong></label>
            <input id="buttonaddcorkboard" onclick="window.location.href='@Url.Action("AddCorkboard", "CorkBoard")';" type="submit" class="btn btn-default" value="Add CorkBoard" />
        </div>
    </div>
    <hr />
    @if (!Model.myCorkboards.Any())
    {
        <p style="margin:0px 16px 0px 0px ; text-indent: 16px">You have no CorkBoards yet.</p>
    }
    else
    {
        <ul class="row">
            @foreach (var corkboard in Model.myCorkboards)
            {
                if (corkboard.VisibilityId == 1)
                {
                    <li>
                        <label>
                            <strong>@Html.ActionLink(corkboard.Title, "ConfirmPrivateCorkboard", "Corkboard", new { id = corkboard.Cid }, null)</strong> <span style="color:red;">(private)</span> with @Model.pushpinCount[corkboard.Title] Pushpins
                        </label>
                    </li>
                }
                else
                {
                    <li>
                        <label>
                            <strong>@Html.ActionLink(corkboard.Title, "ViewCorkboard", "Corkboard", new { id = corkboard.Cid }, null) </strong> with @Model.pushpinCount[corkboard.Title] Pushpins
                        </label>
                    </li>
                }

            }
        </ul>

    }
    <br />
    <hr />
    <div class="form-group">
        <div class="col-md-10">
            @Html.TextBox("Text", null, htmlAttributes: new { @class = "form-control", PlaceHolder = "Search descriptions, tags and CorkBoard category" })
            <span>
                <input id="buttonaddcorkboard" type="submit" class="btn btn-default" value="PushPin Search" />
            </span>
        </div>
    </div>
</section>

