@model CorkBoardProject.ViewModels.PopularTagViewModel
@{
    ViewBag.Title = "Popular Tags";
}

<h2>Popular Tags</h2>
@if (!Model.tagSearchResult.Any())
{
    <p style="margin:0px 16px 0px 0px ; text-indent: 16px">No result found, go back to home page.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th><strong>Tag</strong></th>
                <th><strong>Pushpins</strong></th>
                <th><strong>Unique Corkboards</strong></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var result in Model.tagSearchResult)
            {
            <tr>
                <td style="color:teal;text-align:center;">@Html.ActionLink(result.tag, "SearchPushpin", "Pushpin", new { whatToSearch = result.tag }, null)</td>
                <td style="color:teal;text-align:center;">@result.pushpinCount</td>
                <td style="color:teal;text-align:center;">@result.corkboardCount</td>

            </tr>
            }
        </tbody>
    </table>
}
<br />
<h4 tyle="color:royalblue;"><span style="color:red;">&#42</span> Note that the result is valid at real-time which is as at now (@DateTime.Now). </h4>
<hr />
<div class="row" style="display:inline-block;vertical-align:top;margin:4px 32px 4px 32px;">
    <input onclick="window.location.href='@Url.Action("Index", "CorkBoard")';" type="submit" value="Back" class="btn btn-default" />
</div>
